@media (min-width: 560px){
  /*phablet*/
  .column-phablet-1-2{
    max-width: 50%;
  }
}

@media (min-width: 768px){
  /*tablet*/
  .column-tablet-1-2{
    max-width: 50%;
  }  

  .column-tablet-1-4{
    max-width: 25%;
  }

  .toggle-main-nav{
    display: none;
  }

  .main-nav{
    position: static;
    display: block!important;
    width: auto;
    height: auto;
    background: none;
  }

  .main-nav ul{
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    margin-top: 0;
  }

  .main-nav ul li{
    margin-left: 35px;
  }

  .main-nav ul li:first-child{
    margin-left: 0;
  }

  .main-nav li a{
    height: auto;
    text-transform: none;
    padding: 5px 0;
    border-bottom: 1px solid transparent; 
    font-size: 14px;
    transition: border .3s
  }

  .main-nav ul a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }

  .section-about-me{
    padding: 130px 0 160px;
  }

  .column_section-about-me:nth-child(odd){
    padding-right: 45px;
  }
  .column_section-about-me:nth-child(even){
    padding-left: 45px;
  }

  .wrapper_section-about-me:before{
    background: #cbcbcb;
  }

  .achievement,
  .about-achievemen{
    margin-bottom: 0;
  }

  .about-achievement:before{
    top: 0;
    left: -9px;
    bottom: 0;
    margin: auto 0;
  }

  .about-achievement_even:before{
    left: auto;
    right: -9px;
  }

  .about-achievement:after{
    display: block;
  }

  .section-skills{
    padding: 80px 0;
  }

  .column-skill{
    margin-bottom: 0;
  }

  .progress-circle__title{
    margin: 35px 0;
  }

  /*masonry*/
  .grid-item{
    right: auto;
    margin-bottom: 16px;
  }

  .hidden-info{
    height: auto;
    min-height: 115px;
    text-align: left;
  }

  .category-one,
  .category-two,
  .category-third{
    right: auto;
  }
}

@media (min-width: 1000px){
  /*laptop*/
  .column-laptop-1-3{
    max-width: 33.33%;
  }

  .section-education{
    padding: 90px 0;
  }

  .educational-achievements{
    margin-bottom: 0px;
  }

  .educational-achievements__icon{
    margin: 50px 0;
  }
  .section-portfolio{
    padding: 130px 0;
  }
  .hidden-info__raiting{
    display: inline-block;
    float: right;
    height: auto;
  }

  .hidden-info.narrow .hidden-info__raiting{
    float: none;
  }
}

@media (min-width: 1240px){
  /*desktop*/
  .column-desktop-1-4{
    max-width: 25%;
  }

  .column-desktop-1-3{
    max-width: 33.33%;
  }

  .column_section-about-me{
    max-width: 35%;
  }
}

@media (min-width: 1640px){
  /*extra-large*/
}